<footer>   
    <div class="social-icons">
      <a href="#1"><i class="fab fa-facebook-f"></i></a>
      <a href="#2"><i class="fab fa-twitter"></i></a>
      <a href="#3"><i class="fab fa-instagram"></i></a>
      <a href="#4"><i class="fab fa-youtube"></i></a>
    </div>     
      <p class="copyright">&copy; 2020 SS Revolution All Rights Reserved.</p>
  </footer>

  <div class="social">
    <a href="#1"><i class="fab fa-facebook-f"></i></a>
    <a href="#2"><i class="fab fa-twitter"></i></a>
    <a href="#3"><i class="fab fa-instagram"></i></a>
    <a href="#4"><i class="fab fa-youtube"></i></a>
  </div>   